.GridItem {
  margin: 40px 0 40px 0;
}
.Data {
  padding: 10px;
}
@media only screen and (min-width: 500px) {
  .FlexContainer1 {
    display: flex;
  }
}
@media only screen and (min-width: 700px) {
  .FlexContainer2 {
    display: flex;
  }
}
@media only screen and (min-width: 1100px) {
  .GridContainer {
    display: grid;
    grid-template-columns: auto auto;
  }
  .GridItem {
    padding: 20px;
    margin: 0;
  }
}
