.DateTimeForm label {
  padding: 5px 0;
}
.info {
  padding-left: 5px;
}
.ui.form .DateTimeForm__label {
  color: white;
}
.ui.form .field > label {
  color: white !important;
}

@media only screen and (min-width: 1000px) {
  .field {
    width: 30%;
  }
}
