.Header {
  display: flex;
  font-size: calc(10px + 2vmin);
}
.Header__logo {
  height: 20vmin;
  pointer-events: none;
  padding: 20px;
}

@media only screen and (min-width: 550px) {
  .Header__logo {
    height: 15vmin;
  }
}
